@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Primeira aplicação MVC seguindo o <a href="https://www.youtube.com/watch?v=JtjMW5TWV5Q&t=2121s">Programador Tech</a></p>
    <p>Com .NET 5.0</p>
</div>
